### 1) CREATE REDSHIFT CLUSTER (RESOURCE):

In [13]:
!python create_cluster_resources.py

Connection to the AWS services is successfull

Lets Delete Existing IAM role:
Deletion of Role is successful

Lets Create a new IAM role:
Creation of Role is successful

Lets attach role Policy:
Policy Attached Successfully

Lets Delete any existing cluster:
cluster deleted initiated...

Current Cluster Status: deleting
Retrying in 15 Seconds
Current Cluster Status: deleting
Retrying in 15 Seconds
Current Cluster Status: deleting
Retrying in 15 Seconds
Current Cluster Status: deleting
Retrying in 15 Seconds
Current Cluster Status: deleting
Retrying in 15 Seconds
Current Cluster Status: deleting
Retrying in 15 Seconds
Cluster has been deleted successfully!

Lets Create the cluster:
Cluster Created Successfully !!

Checking the cluster status:

Current Cluster Status: creating
Current Cluster Status: creating
Current Cluster Status: creating
Current Cluster Status: creating
Current Cluster Status: creating
Current Cluster Status: available
Cluster is available!

ec2.SecurityGroup(id='sg-028ecd31d2819183d')
Rule already exists: ALLOW tcp from 0.0.0.0/0 on port 5439.

End

### 2) CREATE TABLES (STAGING & ANALYTICAL) :

In [14]:
!python create_tables.py

drop table IF EXISTS stagingevents
Table 'stagingevents' dropped successfully

drop table IF EXISTS stagingsongs
Table 'stagingsongs' dropped successfully

drop table IF EXISTS songplays
Table 'songplays' dropped successfully

drop table IF EXISTS users
Table 'users' dropped successfully

drop table IF EXISTS songs
Table 'songs' dropped successfully

drop table IF EXISTS artists
Table 'artists' dropped successfully

drop table IF EXISTS time
Table 'time' dropped successfully

 CREATE TABLE stagingevents (artist VARCHAR(255),auth VARCHAR(255),firstName VARCHAR(255),gender CHAR(1),iteminsession INT,lastName VARCHAR(255),length FLOAT,level VARCHAR(255),location VARCHAR(255),method VARCHAR(255),page VARCHAR(255),registration BIGINT,sessionid BIGINT,song VARCHAR(255),status BIGINT,ts BIGINT,useragent TEXT,userid INT );
Table 'stagingevents' created successfully

CREATE TABLE stagingsongs (num_songs INT,artist_id VARCHAR(255),artist_latitude FLOAT,artist_longitude FLOAT,artist_location VARCHAR(255),artist_name VARCHAR(255),song_id VARCHAR(255),title VARCHAR(255),duration FLOAT,year INT)
Table 'stagingsongs' created successfully

CREATE TABLE songplays (songplayid BIGINT IDENTITY(0,1) PRIMARY KEY,starttime TIMESTAMP,userid INT,level VARCHAR(255),songid VARCHAR(255),artistid VARCHAR(255),sessionid BIGINT,location VARCHAR(255),useragent TEXT);
Table 'songplays' created successfully

CREATE TABLE users (userid INT PRIMARY KEY,firstname VARCHAR(255),lastname VARCHAR(255),gender CHAR(1),level VARCHAR(255));
Table 'users' created successfully

CREATE TABLE songs (song_id VARCHAR(255) PRIMARY KEY,title VARCHAR(255),artist_id VARCHAR(255),year INT,duration FLOAT);
Table 'songs' created successfully

CREATE TABLE artists (artist_id VARCHAR(255) PRIMARY KEY,name VARCHAR(255),location VARCHAR(255),latitude FLOAT,longitude FLOAT);
Table 'artists' created successfully

CREATE TABLE time (starttime TIMESTAMP PRIMARY KEY,hour INT,day INT,week INT,month INT,year INT,weekday INT);
Table 'time' created successfully


ALL NECESSARY TABLES HAVE BEEN CREATED SUCCESSFULLY !

### 3) FINAL ETL PROCESS:

In [15]:
!python etl.py

COPY stagingevents FROM 's3://udacity-dend/log_data/' CREDENTIALS 'aws_iam_role=arn:aws:iam::342000412548:role/dwhRole' JSON 's3://udacity-dend/log_json_path.json' COMPUPDATE OFF TRUNCATECOLUMNS EMPTYASNULL BLANKSASNULL REGION 'us-west-2';

COPYING DATA FROM S3 TO THE REDSHIFT TABLE 'stagingevents':-
Row count before copying data into the stagingevents: 0
Row count after copying data into stagingevents: 8056


COPY stagingsongs FROM 's3://udacity-dend/song_data/' CREDENTIALS 'aws_iam_role=arn:aws:iam::342000412548:role/dwhRole' JSON 'auto' COMPUPDATE OFF TRUNCATECOLUMNS EMPTYASNULL BLANKSASNULL REGION 'us-west-2';

COPYING DATA FROM S3 TO THE REDSHIFT TABLE 'stagingsongs':-
Row count before copying data into the stagingsongs: 0
Row count after copying data into stagingsongs: 14896


INSERT INTO songplays (starttime, userid, level, songid, artistid, sessionid, location, useragent) SELECT     TIMESTAMP 'epoch' + e.ts / 1000 * INTERVAL '1 second' AS starttime,     e.userid AS userid,     e.level AS level,     s.song_id AS songid,     s.artist_id AS artistid,     e.sessionid AS sessionid,     e.location AS location,     e.useragent AS useragent FROM stagingevents e JOIN stagingsongs s ON e.song = s.title AND e.artist = s.artist_name and  e.length = s.duration WHERE e.page = 'NextSong';
INSERTING DATA FROM STAGING TABLES TO THE DIMENSIONAL TABLES 'songplays':-
Row count before inserting data into the songplays: 0
Row count after inserting data into songplays: 319


INSERT INTO users (userid, firstname, lastname, gender, level) SELECT DISTINCT     userid,     firstname,     lastname,     gender,     level FROM stagingevents WHERE userid IS NOT NULL;
INSERTING DATA FROM STAGING TABLES TO THE DIMENSIONAL TABLES 'users':-
Row count before inserting data into the users: 0
Row count after inserting data into users: 105


INSERT INTO songs (song_id, title, artist_id, year, duration) SELECT DISTINCT     song_id,     title,     artist_id,    year,     duration FROM stagingsongs where song_id is NOT NULL;
INSERTING DATA FROM STAGING TABLES TO THE DIMENSIONAL TABLES 'songs':-
Row count before inserting data into the songs: 0
Row count after inserting data into songs: 14896


INSERT INTO artists (artist_id, name, location, latitude, longitude) SELECT DISTINCT     artist_id,     artist_name AS name,     artist_location AS location,     artist_latitude AS latitude,     artist_longitude AS longitude FROM stagingsongs WHERE artist_id IS NOT NULL;
INSERTING DATA FROM STAGING TABLES TO THE DIMENSIONAL TABLES 'artists':-
Row count before inserting data into the artists: 0
Row count after inserting data into artists: 10025


INSERT INTO time (starttime, hour, day, week, month, year, weekday) SELECT DISTINCT     TIMESTAMP 'epoch' + ts/1000 * INTERVAL '1 second' AS starttime,     EXTRACT(hour FROM (TIMESTAMP 'epoch' + ts/1000 * INTERVAL '1 second')) AS hour,     EXTRACT(day FROM (TIMESTAMP 'epoch' + ts/1000 * INTERVAL '1 second')) AS day,     EXTRACT(week FROM (TIMESTAMP 'epoch' + ts/1000 * INTERVAL '1 second')) AS week,     EXTRACT(month FROM (TIMESTAMP 'epoch' + ts/1000 * INTERVAL '1 second')) AS month,     EXTRACT(year FROM (TIMESTAMP 'epoch' + ts/1000 * INTERVAL '1 second')) AS year,     EXTRACT(weekday FROM (TIMESTAMP 'epoch' + ts/1000 * INTERVAL '1 second')) AS weekday FROM stagingevents WHERE ts IS NOT NULL and page = 'NextSong';
INSERTING DATA FROM STAGING TABLES TO THE DIMENSIONAL TABLES 'time':-
Row count before inserting data into the time: 0
Row count after inserting data into time: 6813


ETL PROCESS COMPLETED SUCCESSFULLY !

### 4) DELETE RESOURCES:

In [ ]:
# To delete the cluster uncomment below line of code
#!python delete_cluster_resources.py